@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');

body {
    font-family: "Alan Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    width: 100vw;
    min-height: 100dvh;

    background-color: #0F0F0F;
    color: white;
}

img {
    max-width: 720px;
    border-radius: 6px;
}

a {
    color: lightblue;
}

.lister {
    display: flex;
    justify-content: space-evenly;
}

ol,
ul {
    padding-inline-start: 20px;
}