* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text: #dcdcdc;
    --background: #030303;
    --primary: #9898cf;
    --secondary: #161616;
    --border: #2f2f2f;
    --accent: #a25cb3;

    --aside-width: 300px;
}

.plus-jakarta-sans {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.flex {
    display: flex;
}

#registration {
    display: flex;
    width: 100%;
    margin-top: 20px;
}


#registration>input {
    background-color: var(--border);
    border: none;
    padding: 12px 8px;
    outline: none;
    color: var(--text);
    width: 100%;
    font-family: inherit;
}

#registration>button {
    font-family: inherit;
    font-weight: bold;
    color: var(--background);
    background-color: var(--text);
    border: none;
    padding: 12px 8px;
}


body {
    background-color: var(--background);
    color: var(--text);

    display: grid;
    grid-template-areas:
        "header header"
        "main aside";

    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr var(--aside-width);

    min-height: 100dvh;
    overflow-x: hidden;

    transition-duration: 300ms;
}

/* gjør widthen til høyre kolonen 0 så at den blir hjemt */
body.hide-leaderboard {
    grid-template-columns: 1fr 0;
}




header {
    grid-area: header;
    background-color: rgba(255, 255, 255, 0.0375);
    padding: 20px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

main {
    grid-area: main;
    padding: 10px;
}

aside {
    grid-area: aside;
    background-color: rgba(255, 255, 255, 0.0375);
    padding: 20px;

    border-left: 1px solid var(--border);

    width: var(--aside-width);
}

#logo {
    max-height: 30px;
}

#tittel h1 {
    font-size: 2rem;
    font-family: "Darumadrop One";
    font-weight: 500;
    transform: translateY(-4px);
    margin-top: -8px;
}

header {
    display: flex;
    justify-content: space-between;

    align-items: center;
    text-align: center;

    border-bottom: 1px solid var(--border);
}





#meny {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

#meny button {
    background: var(--secondary);
    border: 1px solid var(--border);

    font-family: inherit;
    color: inherit;

    padding: 10px 15px;

    border-radius: 4px;
}

button:hover {
    cursor: pointer;
    filter: brightness(120%);
}

button:active {
    filter: brightness(80%);
}




table {
    width: 100%;
    text-align: center;
    margin-top: 16px;
}

table {
    border-collapse: collapse;
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.0375)
}

th:nth-child(2),
td:nth-child(2) {
    text-align: left;
}





#game {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: red;
    display: flex;
    flex-direction: column;

    transition-duration: 300ms;
}

#tittel {
    width: 100%;
    padding: 10px;

    position: relative;
    transition-duration: 300ms;
}

#tittel>div {
    border: 1px solid var(--border);
    background-color: var(--background);
    width: 100%;
    padding: 12px;
    text-align: center;
    position: relative;
    font-size: 1.25rem;
}

#spørsmål {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 0rem;

    transition-duration: 300ms;
}

#submission {
    padding: 12px;

    margin-top: auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#options {
    display: flex;
    gap: 12px;
}

#randomize,
#options>button {
    padding: 34px 10px;
    width: 100%;
    background-color: var(--background);
    color: inherit;
    border: 1px solid var(--border);
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: bold;
    user-select: none;

    transition-duration: 300ms;
    
    text-shadow: 0 0 2px rgba(0, 0, 0, 1.5);
}

#randomize {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    padding: 14px 10px;
}

#gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;

    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    pointer-events: none;
}
