* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background: #404040;
    max-width: 100vw;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

.grid {
    display: grid;
    grid-template-areas: 
        "header header"
        "decoration main"
        "footer footer";
    grid-template-rows: 15% 50% 35%;
    grid-template-columns: 35% 65%;

    gap: 8px;
    max-width: 640px;
    max-height: 640px;

    margin: auto;
    overflow: hidden;
}

.grid > * {
    border: 2px solid #1a2025;
}

ol {
    font-family: Georgia, 'Times New Roman', Times, serif;

    list-style-type: decimal;
    margin-left: 20px;
    margin-top: 20px;
}

header {
    grid-area: header;
    background-color: #3f5765;
    color: white;
    padding: 32px 24px;
}

.decoration {
    grid-area: decoration;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 30%;
}

main {
    grid-area: main;
    background-color: #bdd4de;
    padding: 32px 24px;
}

footer {
    grid-area: footer;
    max-width: 100%;
    max-height: 300px;
}

footer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}